@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <script src="~/script/javascript1.js"></script>
</head>
<body>
    <div>
        <script>
            var a = sssr;
            if (typeof (a) == "function") {
                alert('f')
            }
            else
            {
                alert('not')
            }
        </script>
        AAA
        bbb
		1
    </div>
</body>
</html>
